.create-live {
  .mb-2 {
    margin-bottom: 2rem;
  }
  .create-btn {
    padding: 5px 20px;
    background: $black;
    color: $orange;
    border: solid 2px $orange;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

.thumbnail-uploader {
  position: relative;
  .hide-input {
    position: absolute;
    width: 320px;
    height: 180px;
    border-radius: 20px;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    ~label {
      position: absolute;
      color: $orange;
      left: 20px;
      top: -25px;
      pointer-events:none;
    }
  }
  .empty-box {
    width: 320px;
    height: 180px;
    background: $dark;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .plus-icon {
      color: $orange;
      z-index: 1;
      font-size: 3rem;
    }
  }
  .image-preview {
    position: absolute;
    width: 320px;
    height: 180px;
    border-radius: 20px;
    z-index: 2;
  }
}