.student-detail {
  .student-info {
    display: flex;
    .profile-photo {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    .info-box {
      display: flex;
      flex-direction: column;
    }
  }
}