@import "@/assets/style/_color.scss";

.replay {
  height: 90vh;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .replay-video {
    margin: 5% auto;
    // flex: 0 0 auto;
    width: 70%;
    min-width: 750px;
    background: #000;
    border-radius: 0 0 10px 10px;
    .video-player {
      width: 100%;
      background: #fff;
      aspect-ratio: 16/9;
      .video-js {
        .vjs-control-bar {
          background-color: rgba($dark, 0.2) !important;
        }
      }
    }
    .video-info {
      padding: 0.2rem 0.5rem;
    }
  }
}
