$orange: #FF6936;
$blue: #487AFF;
$yellow: #FBB91C;
$purple: #9848FF;
$peach: #F1DED7;
$dark: #15141B;
$grey: #202125;
$light-grey: #424550;
$blank-grey: #C4C4C4;
$light: #E9E9E9;
$white: #FFFFFF;
$black: #000000;
