@import "./_color.scss";

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  &.black {
    background-color: $black;
    color: $white;
  }
  &.dark-yellow {
    background-color: $dark;
    color: $yellow;
  }
  &.dark-orange {
    background-color: $dark;
    color: $orange;
  }
  &.purple {
    background-color: $purple;
    color: $white;
  }
}
