@import "./_color.scss";
@import "./_mixin.scss";

#app {
  min-width: 100vw;
  min-height: 100vh;
  width: fit-content;
  height: 100%;

  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  * {
    box-sizing: border-box;
  }

}
body {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($orange, 0.7);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: $black;
  }
}

.dark {
  background-color: $grey;
  color: $white;
}
.space {
  padding: 30px 50px;
}

.space-left {
  padding-left: 250px;
}
@include sm {
  .space-left {
    padding-left: 100px;
  }
}
.space-top {
  padding-top: 50px;
}