@import "@/assets/style/_color.scss";

.on-air {
  height: 90vh;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .on-air-video {
    flex: 0 0 auto;
    width: 70%;
    min-width: 750px;
    background: #000;
    border-radius: 0 0 10px 10px;

    .video-player {
      width: 100%;
      background: #fff;
      aspect-ratio: 16/9;
    }
    .video-info {
      padding: .2rem .5rem;
    }
  }
  .on-air-chat {
    flex: 0 0 auto;
    width: 25%;
    min-width: 300px;
    height: 100%;
    background: $dark;
    position: relative;
    border-radius: 10px;
    .chat-list {
      position: relative;
      overflow-y: scroll;
      background: $dark;
      border-radius: 10px;
      padding: 1rem;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba($orange, 0.5);
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
        background-color: $black;
        border-radius: 10px;
      }
    }
    .chat-input {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: fit-content;
      background: $black;
      border-radius: 0 0 10px 10px;
    }
  }
}