@import "@/assets/style/_color.scss";

.studio {
  .btn-group {
    position: fixed;
    top: 1.05rem;
    right: 5rem;
    display: flex;
    gap: 0.5rem;
    button {
      padding: 0.4rem 0.8rem;
      border-radius: 1rem;
      font-size: 0.8rem;
      .btn-content {
        display: flex;
        gap: 0.3rem;
        align-items: center;
        i {
          color: $orange;
          font-size: 1rem;
        }
      }
    }
  }
}