@import '@/assets/style/_color.scss';

.account {
  width: 100vw;
  height: 100vh;
  background: $peach;
  .user-form {
    width: 450px;
    height: 100vh;
    background: $grey;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .login-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;
      font-family: 'Montserrat', sans-serif;
      .heading-box {
        position: relative;
        display: flex;
        .heading {
          font-size: 4rem;
          font-weight: 900;
          font-style: italic;
          color: white;
          z-index: 2;
        }
        .spectrum-left {
          position: absolute;
          right: 4px;
          color: $orange;
          z-index: 1;
        }
        .spectrum-right {
          position: absolute;
          left: 4px;
          color: $blue;
          z-index: 0;
        }
      }
      .sub-heading {
        font-style: italic;
        font-size: 1rem;
        margin-top: 10px;
      }
    }
  }
}

.account-inputs {
  margin-top: 40px;
  .account-input-box {
    position: relative;
    .account-input {
      width: 300px !important;
      height: 50px;
      margin-top: 60px;
      background-color: #F1F1F1;
      color: #212121;
      box-shadow: none;
      box-shadow:inset 0px 3px 3px rgba(0, 0, 0, .3);
      border: none;
      outline: none;
      padding-left: 20px;
      padding-right: 10px;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      border-radius: 30px !important;
      transition: none;
      
      ~label {
        position: absolute;
        color: $orange;
        font-size: 1.5rem;
        font-style: italic;
        left: 20px;
        top: 20px;
        pointer-events:none;
      }
    }
    .error-text {
      margin-top: 3px;
      padding-left: 20px;
      color: $yellow;
      font-size: 1rem;
      font-weight: 200;
      font-family: 'Noto Sans KR', sans-serif;
    }
  }
  .btn-submit {
    width: 300px !important;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 30px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    &:hover {
      font-weight: 700;
      font-size: 1.4rem;
    }
  }
  .btn-orange {
    background-color: $orange;
    color: $black;
  }
  .btn-disabled {
    background-color: $black;
    color: $white; 
    pointer-events: none;
  }
  .direct-box {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 1rem;
    .dot-space {
      margin: 0 5px;
    }
  }
}